{% extends "layout.html" %}

{% block title %} EditProb {% endblock %}

{% block content %}
    <h2>Редагування Задачі "{{problem.title}}"</h2>
    <form method="POST">
        <textarea rows="5" name="cond" title="Умова" required>{{problem.cond}}</textarea>
        <textarea rows="10" name="init" title="Сцена" required>{{problem.init}}</textarea>
        <input type="text" name="answer" title="Відповідь"value="{{problem.answer}}"  required>
        <input type="text" name="isOpen" title="Відкритість"value="{{problem.isOpen}}"  required>
        
        <button type="submit">Зберегти</button>
    </form>
{% endblock %}