<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">
  <link rel="icon" href="./favicon.png" type="image/x-icon">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

  <link rel="stylesheet" href="static/index.css" />
</head>

<body>
  <div class="container">
    <h3 id="header" style="color:aliceblue;">
      <button id="adminButton" class="btn btn-outline-dark"> 
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="aliceblue" class="bi bi-gear-fill" viewBox="0 0 16 16">
          <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
        </svg>      
      </button>
      Macromechanics {{current_user.username}}
    </h3>
     
    <!---------------------- top panel ---------------------->
    <div class="panel">
      <button id="createModeButton" btn-primary class="btn btn-light "></button>
      <button id="traceModeButton" btn-primary class="btn btn-light ">N</button>

      <button id="modeButton" class="btn btn-sm btn-primary panel-button" title="Start / Stop">
        <img src="static/assets/icons/play-fill.svg" width="16" height="16">
      </button>
      <button id="prettyButton" class="btn btn-sm btn btn-info panel-button" title="Debug / Exec">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-brilliance" viewBox="0 0 16 16">
          <path d="M8 16A8 8 0 1 1 8 0a8 8 0 0 1 0 16M1 8a7 7 0 0 0 7 7 3.5 3.5 0 1 0 0-7 3.5 3.5 0 1 1 0-7 7 7 0 0 0-7 7"/>
        </svg>
      </button>
      <button id="restartButton" class="btn btn-sm btn-info panel-button" title="Return to the last stop">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-rewind-fill" viewBox="0 0 16 16">
          <path d="M8.404 7.304a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696z"/>
          <path d="M.404 7.304a.802.802 0 0 0 0 1.392l6.363 3.692c.52.302 1.233-.043 1.233-.696V4.308c0-.653-.713-.998-1.233-.696z"/>
        </svg>
      </button>
      <button id="helpButton" class="btn btn-sm btn btn-sm btn-info panel-button" title="Клавіші:
      B - balls
      L - lines
      K - links
      C - copy ball
      F - fixed ball
      S - step
      T - tracks show/hide
      Del - delete selected">
      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-info-lg" viewBox="0 0 16 16">
        <path d="m9.708 6.075-3.024.379-.108.502.595.108c.387.093.464.232.38.619l-.975 4.577c-.255 1.183.14 1.74 1.067 1.74.72 0 1.554-.332 1.933-.789l.116-.549c-.263.232-.65.325-.905.325-.363 0-.494-.255-.402-.704zm.091-2.755a1.32 1.32 0 1 1-2.64 0 1.32 1.32 0 0 1 2.64 0"/>
      </svg>
      </button>
      
      <select class="form-select-sm" id="sceneSelect" title="Select problem">
      </select>

      <span id="infoSpan"></span>

      <span id="mousePosSpan"></span>

      <div id="rangesDiv" style="margin: 10px 0px 0px 0px ;">
        <input type="range" id="graviRange" class="form-range" step="0.001" min="0" max="0.01" 
          title="тяжіння" />
        <label id="graviValue" class="form-label" for="graviRange"></label>

        <input type="range" id="waistRange" class="form-range" step="0.01" min="0" max="1" 
          title="втрати  (1-нема втрат)" />
        <label id="waistValue" class="form-label" for="waistRange"></label>

        <input type="range" id="waistLinkRange" class="form-range" step="0.01" min="0" max="1"
          title="втрати (1-нема втрат)" />
        <label id="waistLinkValue" class="form-label" for="waistLinkRange"></label>

        <input type="range" id="waistFrictRange" class="form-range" step="0.001" min="0.98" max="1" 
        title="втрати (1-нема втрат)" />
        <label id="waistFrictValue" class="form-label" for="waistFrictRange"></label>

      <input type="range" id="rigidRange" class="form-range" step="1" min="0" max="10" value="7"
          title="пружність" />
        <label id="rigidValue" class="form-label" for="rigidRange"></label>
      </div>
    </div>

    <!-- Canvas Containeer -->
    
    <div class="canvas-cont">

      <!-- Problem Board -->
      <div id="problemBoard" class="canvas-item" style="right: unset; left: 0">
        <span style="position: absolute; right: 0; color: blue"><></span>
        <div id="condDiv" style="color: rgb(0 0 0 / 75%);"></div>
        <input id="answerText"  placeholder="відповідь" autocomplete="off">
        <button id="answerButton" class="board-button">Ready</button>
      </div>

      <!-- Ball Board -->
      <div id="ballBoard" class="canvas-item" style="right: 0; left: unset">
        <span style="position: absolute; color: blue"><></span>
        <div>
          <span class="board-label">X</span> <input id="xText" class="board-text" autocomplete="off"/>
          <span class="board-label">Y </span> <input id="yText" class="board-text" autocomplete="off"/>
        </div>
        <div>
          <span class="board-label">Vx </span> <input id="vxText" class="board-text" autocomplete="off"/>
          <span class="board-label">Vy </span> <input id="vyText" class="board-text" autocomplete="off"/>
        </div>        <div>
          <span class="board-label">Massa </span> <input id="massaText" class="board-text" autocomplete="off"/>
          <span class="board-label">Radius </span> <input id="radiusText" class="board-text" autocomplete="off"/>
        </div>
        <div>
          <span class="board-label">Color </span> 
             <select id="colorText" class="board-text">
              <option value="red">Red</option>
              <option value="blue">Blue</option>
              <option value="green">Green</option>
              <option value="gold">Gold</option>
             </select>
          <span class="board-label"> </span> <button id="applyBallButton" class="board-button">Apply</button>
        </div>
      </div>

      <!-- Line Board -->
      <div id="lineBoard" class="canvas-item" style="right: 0; left: unset">
        <span style="position: absolute; color: blue"><></span>
        <div>
          <span class="board-label">X1 </span> <input id="x1Text" class="board-text" autocomplete="off" />
          <span class="board-label">Y1 </span> <input id="y1Text" class="board-text" autocomplete="off" />
        </div>
        <div>
          <span class="board-label">X2 </span> <input id="x2Text" class="board-text" autocomplete="off" />
          <span class="board-label">Y2 </span> <input id="y2Text" class="board-text" autocomplete="off" />
        </div>
        <div>
          <button id="applyLineButton" class="board-button" style="float: right;">Apply</button>
        </div>
      </div>
        
        <canvas id="canvas2" width="800" height="600" class="canvas-item"></canvas>
        <canvas id="canvas" width="800" height="600" class="canvas-item"></canvas>
   
    </div>

    <!------------------ bottom panel ---------------->
    <div class="bottom-panel">
      <button id="saveSceneButton" class="btn btn-sm btn-primary scene-btn" title="Export scene">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-down-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M8.636 12.5a.5.5 0 0 1-.5.5H1.5A1.5 1.5 0 0 1 0 11.5v-10A1.5 1.5 0 0 1 1.5 0h10A1.5 1.5 0 0 1 13 1.5v6.636a.5.5 0 0 1-1 0V1.5a.5.5 0 0 0-.5-.5h-10a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h6.636a.5.5 0 0 1 .5.5"/>
          <path fill-rule="evenodd" d="M16 15.5a.5.5 0 0 1-.5.5h-5a.5.5 0 0 1 0-1h3.793L6.146 6.854a.5.5 0 1 1 .708-.708L15 14.293V10.5a.5.5 0 0 1 1 0z"/>
        </svg>
      </button>

      <textarea id="savedSceneText" rows="1" class="scene-textarea">
           
      </textarea>

      <button id="loadSceneButton" class="zzz btn btn-sm btn-primary scene-btn" title="Import scene">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-up-right" viewBox="0 0 16 16">
          <path fill-rule="evenodd" d="M6.364 13.5a.5.5 0 0 0 .5.5H13.5a1.5 1.5 0 0 0 1.5-1.5v-10A1.5 1.5 0 0 0 13.5 1h-10A1.5 1.5 0 0 0 2 2.5v6.636a.5.5 0 1 0 1 0V2.5a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v10a.5.5 0 0 1-.5.5H6.864a.5.5 0 0 0-.5.5"/>
          <path fill-rule="evenodd" d="M11 5.5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793l-8.147 8.146a.5.5 0 0 0 .708.708L10 6.707V10.5a.5.5 0 0 0 1 0z"/>
        </svg>
      </button>
    </div>

    <img src="static/assets/img/redBall.png" id="redBallImg" width="523" height="520" style="display: none;" />
    <img src="static/assets/img/blueBall.png" id="blueBallImg" width="523" height="520" style="display: none;" />
    <img src="static/assets/img/greenBall.png" id="greenBallImg" width="146" height="145" style="display: none;" />
    <img src="static/assets/img/goldBall.png" id="goldBallImg" width="146" height="145" style="display: none;" />

    <script type="module" src="static/build/main.js"></script>
  </div>
</body>

</html>