<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>{{header}}</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            max-width: 400px;
            margin: 50px auto;
        }
        form {
            display: flex;
            flex-direction: column;
        }
        input, button {
            margin-bottom: 15px;
            padding: 10px;
            font-size: 16px;
        }
        .message {
            color: green;
        }
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <h2>{{header}}</h2>
    <form method="POST">
        <input type="text" name="title" placeholder="Назва"value="{{title}}"  required>
        <input type="text" name="cond" placeholder="Умова"value="{{cond}}"  required>
        <input type="text" name="init" value="{{init}}" required>
        <input type="text" name="answer" placeholder="Відповідь"value="{{answer}}"  required>
        
        <button type="submit">Готово</button>
    </form>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
</body>
</html>