:root {
    --canvas-width: 800px;
    --canvas-height: 600px;
    --deep-blue-color: #4335a7;
    --gray-blue-color: rgb(203, 215, 236);
    --canvas-color:rgb(255, 246, 233);
} 

body {
    background-color: var(--gray-blue-color);
}

.head {
    color:var(--deep-blue-color);
    width: var(--canvas-width);
}

#adminButton {
    float: right;
    color: var(--deep-blue-color);
    border-color: var(--deep-blue-color);
    margin-right: 4px;
}

/* ---------------------- top panel (buttons row) ---------------------- */

.topPanel {
    border: solid gray 1px; 
    padding: 5px;  
    width: var(--canvas-width);
    margin-bottom: 4px;
    background-color:var(--deep-blue-color);
    color: white;
    position: relative;
}

.panel-button {
    border: solid gray 1px; 
    width: 40px;
    margin-left: 8px;
    font-weight: 700;
    color:var(--deep-blue-color);
    background-color: lightblue;
}
.panel-button:hover {
    background-color:  rgb(200, 240, 255);
    color: var(--deep-blue-color);
}

#createModeButton {
    color: blue;   
    border: blue solid 2px;
    font-weight: 600; 
    margin-left:    8px;
    height: 36px; 
    width: 60px;
}

#modeButton {
    background-image: image('./assets/icons/play-fill.svg');
    background-color: rgb(0, 160, 0)
}
#modeButton:hover {
    background-color:  rgb(0, 220, 20)
}

#sceneSelect {
    margin-top: 12px;
    margin-left: 8px;
    display: inline-block; 
    max-width: 280px;
    border: none;
    border-radius: 4px;
    transition-duration: 0.15s;
    background-color: #fff6e9;
    color: var(--deep-blue-color);
    
    font-size: 17px;
    box-shadow: 0 2px #fff6e956;
}
#sceneSelect:hover {
    background-color: #fed1ac;
    color: var(--deep-blue-color);
}


#mousePosSpan, #infoSpan  {
    position: absolute;
    right: 10px;
    top: 10px;
    font-size: 14px;
}

#mousePosSpan  {
    color: var(--gray-blue-color);
    top: 36px;
    font-size: 12px;
}

/* ---------------------- top panel (sliders row) ---------------------- */
input[type=range]
{
    width: 80px;
    height: 14px;
    display: inline;
    margin: 4px 0px 0px 4px;
}

input[type=range]+label
{
    width: 64px;
}

/* Chrome, Safari, Edge */
.form-range::-webkit-slider-thumb {
  background: rgb(195, 3, 3);
}

/* Firefox */
.form-range::-moz-range-thumb {
  background: rgb(195, 3, 3);
}

/* IE */
.form-range::-ms-thumb {
  background: rgb(195, 3, 3);
}

/* ----------------- Canvas Containeer -------------------------- */

.canvas-cont {
    position: relative;
    width: var(--canvas-width);
    height: var(--canvas-height);
    background-color:var(--canvas-color);
}

.canvas-item {
    position: absolute;
    top: 0;
    right: 0;
}

#canvas {
    z-index: 2;
}
#canvas2 {
    z-index: 1;
}

/* -----------------  Board Styles -------------------------- */

#ballBoard, #lineBoard, #problemBoard {
    border: none;
    
    border-radius: 1px 1px 4px 4px;
    border-color: rgb(117 190 218 / 70%);
    font-family: monospace;
    font-weight: 800;
    color: #ff7f3e;
    padding: 5px;
    background-color: #9adcff00 ;
    background-image: linear-gradient(180deg, #9adcffc7, #9adcff46 );
    display: none; 
    z-index: 3;
    left: auto;  
    right: 0;     
}

#ballBoard {
    background-image: linear-gradient(180deg, #bcc3c4f5, #bcc3c428 );
}

#problemBoard {
    width: 500px;
    left: 0;
    
}

#answerText {   
    color: #4335a7;
    width: 100px; 
    border-radius: 4px;
    background-color: #fff6e92a; 
    border-color: #4235a748;    
}



.board-text {
    width: 70px;
    text-align: right;
    margin-bottom: 3px;
    
    border-radius: 4px;
    background-color: rgb(117 190 218 / 0%); 
    border-color: #4235a748;
}

.board-button {
    width: 70px;
    border: none;
    background-color: #fed1ac;
    border-radius: 4px;
    color: var(--deep-blue-color);
}
.board-button:hover {
    background-color: #f8b177;
}

.board-label {
    width: 55px;
    display:inline-block;
    text-align: right;
    margin-right: 4px;
    color: var(--deep-blue-color);
}
/* ------------------ bottom panel ---------------- */
.bottom-panel {
   margin-top: 4px;
   width: var(--canvas-width);
} 
#savedSceneArea
{
    width: 720px;
    background-color: var(--deep-blue-color);
    color: white;
}

.scene-btn {
    vertical-align: top;
}