body {
	color: #4335a7;
	font-family: Arial, sans-serif;
	max-width: 400px;
	margin: 50px auto;
	background-color: rgb(203, 215, 236);
}

h2 {
	margin-top: 50%;
	text-align: center;
	color: #4335a7;
}

div {
	font-weight:600;
	text-align: center;
}

a {
	color: #4335a7;
	text-decoration: none;
}

a:hover {
	color: #6557cf;
	transition-duration: 80ms;
}

input[name="username"], input[name="password"], input[name="title"], 
input[name="answer"], input[name="isOpen"] {
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	background-color: #ecf0f7;
	border-color: #736ab4;
	color: #1e1944;
}

 {
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	background-color: #ecf0f7;
	border-color: #736ab4;
	color: #1e1944;
}

button {
	align-self: center;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	width: 60%;
	background-color: #4335a7;
	border-color: #4335a7;
	color: #ffffff;
}
button:hover {
	background-color: #5646ce;
	border-color: #ffffff;
	transition-duration: 80ms;
}

input::placeholder {
	color: #1e16585e;
}

form {
	display: flex;
	flex-direction: column;
}
input, button, textarea {
	margin-bottom: 15px;
	padding: 10px;
	font-size: 16px;
}
.message {
	color: rgb(47, 151, 87);
}

.error {
	color: rgb(214, 31, 77);
}

textarea {
	border-radius: 10px;
	border-style: solid;
	border-width: 2px;
	background-color: #ecf0f7;
	border-color: #736ab4;
	color: #1e1944;
}

.body-del-edit-add {
	color: #4335a7;
	font-family: Arial, sans-serif;
	max-width: 600px;
	margin: 50px auto;
	background-color: rgb(203, 215, 236);
}

/* ------admin.html---- */

.body-admin{
	color: #4335a7;
	max-width: 1500px;
	background-color: rgb(203, 215, 236);
}

.link-buttons {
	margin-top: 3%;
	text-align: center;
}

.user-task-page-text {
	color: #4335a7;
	text-align: center;
	font-size: 20pt;
	font-weight: 700;
}

.style-button-link {
	background-color: #4335a7;
	border-color: #4335a7;
	border-radius: 20px;
	border-style: solid;
	border-width: 2px;
	margin-left: 1%;
	margin-right: 1%;
	font-size: pt;
}

.style-button-link:hover {
	background-color: #5646ce;
	border-color: #ffffff;
	transition-duration: 80ms;
}


.style-table-user-task th{
	background: #5646ce;
	color: white;
}

.style-table-user-task td{
	color: #1d174b;
	background: #ecf0f7;
	text-align: justify;
	padding-left: 1.5%;
	padding-right: 1.5%;

}

/* top-left */
.style-table-user-task tr:first-child th:first-child {
	border-top-left-radius: 10px;  
}

/* top-right */
.style-table-user-task tr:first-child th:last-child {
	border-top-right-radius: 10px;          
}

/* bottom-left border-radius */
.style-table-user-task tr:last-child td:first-child {
	border-bottom-left-radius: 10px;        
}

/* bottom-right */
.style-table-user-task tr:last-child td:last-child {
	border-bottom-right-radius: 10px;            
}

.link-del-edit {
	font-weight: 600;
	color: #5646ce;
	text-decoration: none;
}

.link-del-edit:hover {            
	color: #7465e9;
	transition-duration: 80ms;
}
