<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>Вхід</title>
    <link rel="stylesheet" href="static/templates.css" />
</head>
<body>
    <h2>Вхід</h2>
    <form method="POST" action="/login">
        <input type="text" name="username" placeholder="Ім'я користувача" required>
        <input type="password" name="password" placeholder="Пароль" required>
        <button type="submit">Увійти</button>
    </form>

    {% if message %}
        <p class="message">{{ message }}</p>
    {% endif %}
    {% if error %}
        <p class="error">{{ error }}</p>
    {% endif %}
    <div>
    <a href="/register">Реєстрація</a>
    </div>
</body>
</html>
